services:
  database:
    image: mysql:latest
    container_name: be-challenge-db
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=lucid
      - MYSQL_USER=lucid
      - MYSQL_PASSWORD=lucid

volumes:
  mysql-data:
