services:
  app:
    build: .
    ports:
      - 3333:3333
    depends_on:
      - migration
      - database
    env_file:
      - .env.docker

  database:
    image: mysql:latest
    container_name: be-challenge-db
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_USER=lucid
      - MYSQL_PASSWORD=lucid
      - MYSQL_DATABASE=lucid

  migration:
    build: .
    depends_on:
      - database
    env_file:
      - .env.docker
    entrypoint: node ace migration:fresh
volumes:
  mysql-data:
